@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.speech-bubble {
  @apply relative bg-white p-2 rounded-xl shadow-lg border-2 border-white max-w-[220px] sm:max-w-sm text-left;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 30px;
  border-width: 8px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

@media (min-width: 640px) {
  .speech-bubble::after {
    left: 40px;
  }
}

